<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/pngwing.com(58).png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title><%= title %></title>
</head>

<body>
    <header class="header bg-light shadow-sm">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="header-content d-flex align-items-center">
                <a href="/"><i class="fa-solid fa-house a1"></i></a>
                <a class="text-gradient" href="/">HOME</a>
            </div>
           <div>
                <span id="logged-in-message"></span>
                <% if (user) { %>
                    <form action="/logout" method="POST" style="display:inline;">
                         <button  class="btn btn-outline-dark" >Logout</button>
                    </form>
                    <% } else { %>
                     <a href="/login"  class="btn btn-outline-dark" id="login-btn">Login</a>
                        <a href="/register"  class="btn btn-outline-dark" id="sign-up-btn">Sign Up</a>
                    <% } %>

                <% if(user && user.isAdmin) { %>
                    <a href="/product/admin/product" class="btn btn-outline-dark">Admin</a>
                <% } %>
                <button id="cart-btn" class="btn btn-outline-dark">Open Cart</button>
            </div>
        </div>
    </header>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img class="banner-img img-fluid rounded" src="/img/21246589f56d72fe66cb1e408871aa91.jpg" alt="Adidas product showcase" />
            </div>
            <div class="col-md-6">
                <img class="banner-img img-fluid rounded" src="/img/image_processing20200430-13791-6wf1du.gif" alt="Adidas product animation" />
            </div>
        </div>
    </div>
    <hr class="divider" />
    <div class="marquee-container bg-light py-2">
        <marquee behavior="scroll" direction="left" scrollamount="15">
            <b class="text-gradient">WELCOME TO ADIDAS CAMBODIA STORE</b>
               
            <img align="center" width="100px" src="/img/pngwing.com(58).png" alt="Adidas logo" />
                  
            <img align="center" width="140px" src="/img/pngwing.com(77).png" alt="Adidas logo" />
                   
            <img align="center" width="120px" src="/img/pngwing.com(66).png" alt="Adidas logo" />
                   
            <img align="center" width="120px" src="/img/pngwing.com(88).png" alt="Adidas logo" />
                   
            <img align="center" width="120px" src="/img/pngwing.com(67).png" alt="Adidas logo" />
        </marquee>
    </div>
    <div class="animation-container my-4 d-flex justify-content-center align-items-center">
        <img class="animation-img img-fluid rounded" src="/img/Adidas-Athletics-Video.gif" alt="Adidas sportswear showcase" />
    </div>
    <div class="main">
        <div id="product-grid" class="product-grid" style="display:grid;">
            <% if(products && products.length > 0) { %>
                <% products.forEach(product => { %>
                   <div class="product-card">
                        <% if(product.image) { %>
                            <a href="/product/<%= product.id %>" >
                                <div style="position:relative; display:inline-block">
                                     <img src="<%= product.image %>" alt="<%= product.name %>" class="product-img rounded" >
                                        <div class="product-details-hover" style="display:none">
                                            <h3 class="product-name"><%= product.name %></h3>
                                            <p class="product-price">$<%= product.price %></p>
                                         </div>
                                </div>
                            </a>
                           <% } else { %>
                           <a href="/product/<%= product.id %>">
                                <div style="position:relative; display:inline-block">
                                      <img src="/img/no-image.png" alt="No Image" class="product-img rounded">
                                       <div class="product-details-hover" style="display:none">
                                          <h3 class="product-name"><%= product.name %></h3>
                                           <p class="product-price">$<%= product.price %></p>
                                        </div>
                                  </div>
                            </a>
                        <% } %>
                       <div class ="d-flex justify-content-center gap-2">
                          <button class="add-to-cart-btn w-100" data-product-id="<%= product.id %>">Add to Cart</button>
                       </div>
                   </div>
                <% }) %>
            <% } else { %>
                <p>No product found</p>
            <% } %>
        </div>
    </div>

    <div class="later bg-black py-4 mt-4">
        <div class="container">
            <div class="chile white">
                <h1 class="text-center footer"style="color: #f0e5e5;">A leader in athletic performance since 1949</h1>
                <h3 class="text-justify footer"style="color: #f0e5e5;">
                    We're inspired by athletes. From the very first track spikes Adi Dassler made in his workshop, creating
                    the best gear for the athlete is what drives us to pursue technological breakthroughs and design
                    innovations. Our sneakers and apparel are worn by world-record holders and medal winners, but it's just
                    as important that road runners, weekend hikers, recreational soccer players, and fitness enthusiasts. From
                    adidas Boost, the game-changing cushioning technology, to the world-beating design of Adizero Adios Pro
                    running shoes to Terrex outdoor gear to soccer cleats with unbeatable touch, we're always iterating,
                    innovating and improving with athletes in mind.
                </h3>
                <br />
                <h3 class="text-justify footer"style="color: #f0e5e5;">
                    The 3-Stripes have appeared on medal stands all around the world, but they've also had an influence that
                    extends far beyond the field of play. adidas sneakers have been worn by hip-hop performers, skaters,
                    artists and all the other change-makers who move the culture forward with their vision and uncompromising
                    style. We've made our mark with legendary lifestyle shoes like the adidas Superstar, the Stan Smith and
                    the Samba, shoes that began as athletic footwear before hitting the streets and leaving an indelible
                    impression on the culture.
                </h3>
                <br />
                <h3 class="text-justify footer"style="color: #f0e5e5;">
                    adidas Originals apparel is a stylish complement to our lifestyle shoes. Our streetwear collections pull
                    from the archives to put a modern spin on classics like the Firebird tracksuit and the Tiro pant. Luxe
                    materials, sophisticated silhouettes and unexpected details elevate our streetwear and transcend sport
                    while at the same time never losing sight of our heritage. Because our mantra is, and has always been,
                    that through sport we have the power to change lives.
                </h3>
                <br /><br /><br /><br />
                <div class="text-center">
                    <img width="110px" src="/img/pngwing.com(52).png" alt="Adidas brand logo" />
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <h1 class="footer-text">JOIN OUR ADICLUB & GET 15% OFF</h1>
        <button class="footer-button">
            <a href="/register" style="text-decoration:none; color:inherit;">SIGN UP FOR FREE</a>
        </button>
    </footer>
    <div class="muymuy row justify-content-around">
        <div class="menu2 col-md-2">
            <ul class="menu-list list-unstyled">
                <h2 style="color: black; padding-bottom: 20px; text-align: left;">PRODUCTS</h2>
                <li><a class="a3" href="#">Shop Shoes</a></li>
                <li><a class="a3" href="#">Shop Clothing</a></li>
                <li><a class="a3" href="#">Shop Accessories</a></li>
                <li><a class="a3" href="#">Shop Gift Cards</a></li>
                <li><a class="a3" href="#">Shop New Arrivals</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Sale</a></li>
            </ul>
        </div>
        <div class="menu3 col-md-2">
            <ul class="menu-list list-unstyled">
                <h2 style="color: black; padding-bottom: 20px; text-align: left;">SPORTS</h2>
                <li><a class="a3" href="#">Shop Shoes</a></li>
                <li><a class="a3" href="#">Shop Clothing</a></li>
                <li><a class="a3" href="#">Shop Accessories</a></li>
                <li><a class="a3" href="#">Shop Gift Cards</a></li>
                <li><a class="a3" href="#">Shop New Arrivals</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Sale</a></li>
            </ul>
        </div>
        <div class="menu3 col-md-2">
                <ul class="menu-list list-unstyled">
                <h2 style="color: black; padding-bottom: 20px; text-align: left;">COLLECTIONS</h2>
                <li><a class="a3" href="#">Shop Shoes</a></li>
                <li><a class="a3" href="#">Shop Clothing</a></li>
                <li><a class="a3" href="#">Shop Accessories</a></li>
                <li><a class="a3" href="#">Shop Gift Cards</a></li>
                <li><a class="a3" href="#">Shop New Arrivals</a></li>
                    <li><a class="a3" href="#">Shop Best Sellers</a></li>
                    <li><a class="a3" href="#">Shop Release Dates</a></li>
                    <li><a class="a3" href="#">Shop Sale</a></li>
            </ul>
        </div>
        <div class="menu3 col-md-2">
            <ul class="menu-list list-unstyled">
                <h2 style="color: black; padding-bottom: 20px; text-align: left;">SUPPORT</h2>
                <li><a class="a3" href="#">Shop Shoes</a></li>
                <li><a class="a3" href="#">Shop Clothing</a></li>
                <li><a class="a3" href="#">Shop Accessories</a></li>
                <li><a class="a3" href="#">Shop Gift Cards</a></li>
                <li><a class="a3" href="#">Shop New Arrivals</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Sale</a></li>
            </ul>
        </div>
            <div class="menu3 col-md-2">
            <ul class="menu-list list-unstyled">
                <h2 style="color: black; padding-bottom: 20px; text-align: left;">CONTACT</h2>
                <li><a class="a3" href="#">Shop Shoes</a></li>
                <li><a class="a3" href="#">Shop Clothing</a></li>
                <li><a class="a3" href="#">Shop Accessories</a></li>
                <li><a class="a3" href="#">Shop Gift Cards</a></li>
                <li><a class="a3" href="#">Shop New Arrivals</a></li>
                <li><a class="a3" href="#">Shop Best Sellers</a></li>
                <li><a class="a3" href="#">Shop Release Dates</a></li>
                <li><a class="a3" href="#">Shop Sale</a></li>
            </ul>
        </div>
    </div>
    <div class="last-down d-flex justify-content-center bg-white py-3">
       <a href="#" aria-label="Facebook link"><img src="/img/facebook.png"
                alt="Facebook logo" /></a>
        <a href="#" aria-label="Instagram link"><img src="/img/instagram.png"
                alt="Instagram logo" /></a>
        <a href="#" aria-label="TikTok link"><img
                src="/img/tiktok.png" alt="TikTok logo" /></a>
        <a href="#" aria-label="Telegram link"><img src="/img/telegram.png"
                alt="Telegram logo" /></a>
    </div>
    <div id="cart-modal" class="modal" style="display: none;">
        <div class="modal-dialog">cl
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Shopping Cart</h2>
                    <button type="button" class="btn-close" id="close-modal"></button>
                </div>
                <div class="modal-body">
                    <div id="cart-items-container"></div>
                    <p>Total: <span id="cart-total-amount"></span></p>
                    <span id="cart-count"></span>
                </div>
                <div class="modal-footer">
                    <button id="checkout-btn" class ="add-to-cart-btn w-100"style="text-decoration:none;text-align:center;">Checkout</button>
                </div>
            </div>
        </div>
    </div>
     <div id="checkout-modal" class="modal" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
                    <h2 class="modal-title">Confirm Order</h2>
                    <button type="button" class="btn-close" id="close-checkout-modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to place order?</p>
                 </div>
                <div class="modal-footer">
                     <button id="confirm-checkout" class="add-to-cart-btn w-100">Place Order</button>
                </div>
             </div>
         </div>
   </div>
       <div id="thank-you-modal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Thank You!</h2>
                     <button type="button" class="btn-close" id="close-thank-you-modal"></button>
                </div>
                <div class="modal-body">
                     <p>Thank you for your purchase!</p>
                 </div>
            </div>
        </div>
    </div>
    <div id="error-message" style="display: none; color: red; margin: 10px; text-align: center;"></div>
    <script src="/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>